{% extends 'base.html' %}

{% block content %}

 <div class="container-fluid">
  <div class="row justify-content-center">


      <form class="form-signin" method="post">{% csrf_token %}

          <h1 class="h3 mb-3 fw-normal">Login</h1>
          <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Podaj mail">

          </div>
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Podaj hasło">

          </div>


      	{% for field in login_form %}
      	<p>
      		{% for error in field.errors %}
      			<p style="color: red;">{{error}}</p>
      		{% endfor %}
      	</p>
      	{% endfor %}

      	{% if login_form.non_field_errors %}
      		<div style="color: red;">
      			<p>{{login_form.non_field_errors}}</p>
      		</div>
      	{% endif %}



          <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj</button>

       </form>

        <div class="d-flex justify-content-center" >
          <div>
           <a href="{% url 'uzytkownicy:password_reset' slug%}"class="btn btn-secondary btn-sm active" role="button" aria-pressed="true"><p class="m m-0 p-0">Resetuj hasło</p></a>
          </div>
        </div>  

  </div>

</div>

{% endblock content%}
