{% extends 'base.html' %}

{% block content %}


<style type="text/css">
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3 {
	text-align: center;
}

</style>
<form class="form-signin" method="post">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Rejestracja użytkownika</h1>
      <input type="email" name="email" id="inputEmail" class="form-control"  placeholder="Email (pole obowiazkowe)" required autofocus>
      <input type="text" name="username" id="inputUsername" class="form-control"  placeholder="Username (pole obowiazkowe)" required>
      <input type="text" name="imie" id="inputImie" class="form-control"  placeholder="Imię (pole obowiązkowe)" required>
      <input type="text" name="nazwisko" id="inputNazwisko" class="form-control" placeholder="Nazwisko (pole obowiązkowe)" required>
      <input type="text" name="klub" id="inputKlub" class="form-control"  placeholder="Klub">
      <input type="text" name="licencja" id="inputLicencja" class="form-control"  placeholder="Licencja">
      <input type="password" name="password1" class="form-control" id="inputPassword1" placeholder="Hasło" required>
      <input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Potwierdź hasło" required>
	{% for field in registration_form %}
	<p>
		{% for error in field.errors %}
			<p style="color: red;">{{error}}</p>
		{% endfor %}
	</p>
	{% endfor %}

	{% if registration_form.non_field_errors %}
		<div style="color: red;">
			<p>{{registration_form.non_field_errors}}</p>
		</div>
	{% endif %}

  <script src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" data-sitekey="6LdlCvIdAAAAADUy--NINmX-DYBtkD5T6aOzNP4I"></div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Zarejestruj</button>
 </form>
{% endblock content%}
